    <div class="container">
        <div class="welcome_bigbox">
        <div class="welcome_small">
            <div class="text1">
                SO, YOU WANT TO TRAVEL TO
            </div>
            <div class="header">
                SPACE
            </div>
            <div class="text2">
                Let’s face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax
                because we’ll give you a truly out of this world experience!
            </div>
        </div>
    </div>
    <div class="explore">
        <div class="exp_button_box">
            <button class="exp_button">Explore
            </button>
        </div>
    </div>
</div>
