<p>home works!</p>
<div class="container">
    <div class="welcome_box">
        <div class="text1">
            SO, YOU WANT TO TRAVEL
        </div>
        <div class="header">
            SPACE
        </div>
        <div class="text2">
            Let’s face it; if you want to go to space, you might as well genuinely go to
            outer space and not hover kind of on the edge of it. Well sit back, and relax
            because we’ll give you a truly out of this world experience!
        </div>
    </div>
    <div class="explore">
        <button class="exp_button">Explore</button>
    </div>

</div>