<header><span>02</span>&nbsp;MEET YOUR CREW</header>
<div class="crew-container">
    <div class="crew-info">
        <div class="crew-next-bar-two">
            <button (click)="memberChange(0)" class="next-button-two"
                [ngClass]="{'next-button-change':(curr_active===0)}"></button>
            <button (click)="memberChange(1)" class="next-button-two"
                [ngClass]="{'next-button-change':(curr_active===1)}"></button>
            <button (click)="memberChange(2)" class="next-button-two"
                [ngClass]="{'next-button-change':(curr_active===2)}"></button>
            <button (click)="memberChange(3)" class="next-button-two"
                [ngClass]="{'next-button-change':(curr_active===3)}"></button>
        </div>
        <div [ngClass]="{'ghayab': isActive, 'inactive': !isActive}" class="crew-occupation">{{display_crew.occupation}}
        </div>
        <div [ngClass]="{'ghayab': isActive, 'inactive': !isActive}" class="member-name">{{display_crew.name}}
        </div>
        <div [ngClass]="{'ghayab': isActive, 'inactive': !isActive}" class="member-description">
            {{display_crew.description}}
        </div>
        <div class="crew-next-bar">
            <button (click)="memberChange(0)" class="next-button"
                [ngClass]="{'next-button-change':(curr_active===0)}"></button>
            <button (click)="memberChange(1)" class="next-button"
                [ngClass]="{'next-button-change':(curr_active===1)}"></button>
            <button (click)="memberChange(2)" class="next-button"
                [ngClass]="{'next-button-change':(curr_active===2)}"></button>
            <button (click)="memberChange(3)" class="next-button"
                [ngClass]="{'next-button-change':(curr_active===3)}"></button>
        </div>
    </div>
    <div [ngClass]="{'ghayab': isActive, 'inactive': !isActive}" class="crew-image">
        <img class="immg" src="{{display_crew.crew_member_image}}" alt="">
    </div>
</div>