.container {
    display: flex;
    flex-direction: column;
    color: white;
    /* position: relative; */
    /* z-index: -200; */
}

.planet-container {
    display: flex;
    justify-content: center;
}

.distance-travel-container {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1rem 0rem 1rem 9rem;
    display: flex;
    justify-content: left;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

span {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
}

.actual-planet-image {
    width: 445px;
    height: 445px;
}

.planet-name {
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.planet-about {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.distance {
    color: white;
}

.travel {
    color: white;
}

/*********************                 navbar              *****************************/
#planet-nav {
    color: white;
    display: flex;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    gap: 1rem;
}
button.isActive{            
    background-color: blue;                 
}

.ghayab{        
    animation: 1s ease fade;
}

@keyframes fade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.0001;
    }
    100%{
        opacity: 0.00000001;
    }    
}
.planets-nav-elems {
    color: white;
    cursor: pointer;
}

.planets-nav-elems:hover {
    box-shadow: 0px 2px 0px 0px white;
}


.planet-image {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 4rem;
    padding-left: 8rem;
}

.planet-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 3rem;
    gap: 1.75rem;
}

.horizontal-line {
    border: 0.5px solid rgba(255, 255, 255, 0.322);
}


.dist-box {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.travel-box {
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.dist-heading {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    width: max-content;
}


.dist-travel-info {
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: max-content;

}

.actual-planet-image {
    animation: rotate 230s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* CSS rules for devices with a width between 768px and 991px */

@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding-left: 6rem;
    }

    .actual-planet-image {
        width: 345px;
        height: 345px;
    }

}

/* CSS rules for devices with a width below 768px   */
@media(max-width:768px) {
    #planet-nav {
        justify-content: center;
    }

    .planet-container {
        flex-direction: column;
        gap: 1rem;
    }

    .horizontal-line-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .horizontal-line {
        width: 80%;
    }

    .planet-info {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .planet-image {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header {
        padding: 1.5rem;
        display: flex;
        justify-content: left;
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
        text-transform: uppercase;
    }

    span {
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.375px;
    }

    .distance-travel-container {
        justify-content: center;
        gap: 4rem;
    }

    .actual-planet-image {
        width: 300px;
        height: 300px;
    }

    .planet-name {
        color: #FFF;
        text-align: center;
        font-family: Bellefair;
        font-size: 80px;
        font-style: normal;
    }

    .planet-about {
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    .dist-heading {
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.362px;
        text-transform: uppercase;
    }

    .dist-travel-info {
        color: #FFF;
        text-align: center;
        font-family: Bellefair;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .planets-nav-elems {
        color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
    }
}

@media(max-width:405px) {

    header {
        width: max-content;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        text-wrap: wrap;
        justify-content: center;
    }

    span {
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-wrap: wrap;
    }

    .planet-container {
        gap: 1rem;
    }

    .actual-planet-image {
        width: 170px;
        height: 170px;
    }

    .planets-nav-elems {
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.362px;
    }

    .planet-info {
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }

    .distance-travel-container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .dist-box {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .travel-box {
        align-items: center;
        padding: 0;
    }

}